.styleInput {
    padding: 10px;
    height: 25px;
    width: 75%;
    font-size: 16px;
    border: 1px solid black;
     border-radius: 10px;
} 

.styleButton {
    width: 20%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: bisque;
} 

.search {
    width: 50%;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}