.title {
    width: 150px;
    height: 25px;
  
    background-color: black;
    color: white;
  
    position: absolute;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .area {
    width: 100%;
    height: 500px;
  
    background-color: bisque;
    margin-top: 50px;
  
    position: relative;
  
  }
  
  .x{
    position: absolute;
    top: 90%;
    left: 80%;
  }
  
  .y{
    position: absolute;
    top: 90%;
    left: 90%;
  }
  