body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
  color: white;
}

.App {
  width: 90%;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.main {
  width: 60%;
  height: 50vh;
  background-color: darkseagreen;
  padding: 40px;
}

